Reports/
embedding_req/
/.models/
/Vis_res/
models_config/
weights/conda install -c conda-forge pycuda
*.jpg
*.jpeg
*.png
*.onnx
*.pth
*.tar.xz
*tar.gz
*.zip
*.tar
*.gz

#silent antispoof detection models
*.pth
*.prototxt
*.caffemodel
anti_spoof_models/
detection_model/
sample/

.vscode/